#navbarSupportedContent>ul>li:hover>a{
    color: #d7bb3e;
}

.nav-link {
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.logoPic{
    width: 100px;
    height: 90px;
    margin-right: 5px;
}

