<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <img src="/assets/Images/logo3.png" class="logoPic">
      <a class="navbar-brand" style=" color:sandybrown;font-size: 40px;">Furnish</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li  class="nav-item">
            <a  class="nav-link " aria-current="page" routerLink="/Home"><span>Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " aria-current="page" routerLink="/Products">Proudcts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/Services">Services</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link  " routerLink="/Shopping-Cart">Shopping Cart <span style="color: red;">{{totalitem}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/Contact">Contact</a>
          </li>
         
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link  " routerLink="/Registeration"> Sign Up</a></li>
            <li style="margin-left: 5px;"><a class="nav-link " routerLink="/Login"> Login</a></li>
          </ul>
    </div>
    </div>

  </nav>
     

  
