<div class="container-fluid" id="row1">

    <div >
        <div class="row">
            <h1>Contact</h1>
        </div>
        
    </div>
</div>

<div class="container">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class=" col-8">
            <form class=" row" [formGroup]="ContactForm" (ngSubmit)="submit()" >  
                <div class="form-group col-6">
                    <input type="text" placeholder="Your Name" class="form-control"  formControlName="Name" [class.is-invalid]="Name?.invalid && Name?.touched">
                    <small class="text-danger" [hidden]="Name?.valid||Name?.untouched">Name is equired</small>
                </div>
        
                <div class="form-group col-6">
                    <input type="email" name="Email" placeholder="Email" class="form-control"  formControlName="Email" [class.is-invalid]="Email?.invalid && Email?.touched">
                    <small class="text-danger" *ngIf="Email?.errors?.['email']">Email Must Have @ and . and must be valid</small>
                    <small class="text-danger" *ngIf="Email?.errors?.['required'] && Email?.touched">Email is equired</small>
                </div>
        
                <div class="form-group col-6">
                    <input type="text" name="Subject" placeholder="Subject" class="form-control" formControlName="Subject" [class.is-invalid]="Subject?.invalid && Subject?.touched">
                    <small class="text-danger" [hidden]="Subject?.valid||Subject?.untouched">Subject is equired</small>
                </div>
        
                <div class="form-group col-6">
                    <input type="text" name="Phone" placeholder="Phone" class="form-control"  formControlName="Phone"  [class.is-invalid]="Phone?.invalid && Phone?.touched">
                    <small class="text-danger" [hidden]="Phone?.valid||Phone?.untouched">Phone is equired</small>
                </div>
        
                <div class="form-group col-12">
                    <textarea name="Notes" id="" cols="100" rows="5" placeholder="Notes" formControlName="Notes" class="form-control"  [class.is-invalid]="Notes?.invalid && Notes?.touched"></textarea>
                    <small class="text-danger" [hidden]="Notes?.valid||Notes?.untouched">Notes is equired</small>
                </div>
                <div class="col-4"></div>
                <input type="submit" value="Contact" id="submit" class="col-4" [disabled]="ContactForm.invalid" >
            </form>
        </div>

    </div>
   
</div>