
<!--slider-->
<div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  src="/assets/Images/banner.jpg"  style="height: 300px;"class="d-block w-100 h-10" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: #d7bb3e; font-size: 50px; font-weight: 800;"> Our Services</h5>
               
          </div>
        </div>
        </div>
    </div>
</div>
<!--slider-->
    <div class="section padding_layout_1  text-center">
        <div class="container" >
           <div class="row">
              <div class="col-md-12">
                 <div class="full">
                    <div class="main_heading text_align_center">
                       <h2><span></span></h2>
                    </div>
                 </div>
              </div>
           </div>
           <br> 
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/Images/image1.png" class="card-img-top" alt="#">
        <div class="card-body">
          <h5 class="card-title">Lighting</h5>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/Images/image2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Interior Design</h5>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/Images/image3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Floor Planning</h5>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/Images/image4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Furniture</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="../assets/Images/image5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Office Furniture</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/assets/Images/image6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Childroom Furniture</h5>
            
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>
  <div class="section padding_layout_1 text-center" >
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <div class="main_heading text_align_center">
                   <h2><span style="color: #d7bb3e; font-size: 50px; font-weight: 800;">{{"SERVICES STEPS"|uppercase}}</span></h2>
                   <p>Easy and effective way to get your furniture repaired.</p>
                   <br>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="row">
                <div class="col-md-4">
                   <div class="full">
                      <div class="Services_blog_inner">
                         <div class="icon"><img src="https://html.design/demo/furnish/images/layout_img/si1.png" alt="#" style="width: 50px; height: 50px;"></div>
                         <h4 class="Services-heading">Best Quality</h4>
                         <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="full">
                      <div class="Services_blog_inner">
                         <div class="icon"><img src="https://html.design/demo/furnish/images/layout_img/si2.png" alt="#" style="width: 50px; height: 50px;"></div>
                         <h4 class="Services-heading">Experienced</h4>
                         <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="full">
                      <div class="Services_blog_inner">
                         <div class="icon"><img src="https://html.design/demo/furnish/images/layout_img/si3.png" alt="#"style="width: 50px; height: 50px;"></div>
                         <h4 class="Services-heading">Expert team</h4>
                         <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="full">
                      <div class="Services_blog_inner">
                         <div class="icon"><img src="https://html.design/demo/furnish/images/layout_img/si4.png" alt="#" style="width: 50px; height: 50px;"></div>
                         <h4 class="Services-heading">Affordable Services</h4>
                         <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="full">
                      <div class="Services_blog_inner">
                         <div class="icon"><img src="https://html.design/demo/furnish/images/layout_img/si5.png" alt="#" style="width: 50px; height: 50px;"></div>
                         <h4 class="Services-heading">90 Days warranty</h4>
                         <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="full">
                      <div class="Services_blog_inner">
                         <div class="icon"><img src="https://html.design/demo/furnish/images/layout_img/si6.png" alt="#" style="width: 50px; height: 50px;"></div>
                         <h4 class="Services-heading">Award winning</h4>
                         <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>



